@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* * FONT FAMILY */

/* Display 2XL */
.display-2xl-regular {
  @apply text-7xl font-normal leading-[90px] tracking-[-1.44px];
}

.display-2xl-medium {
  @apply text-7xl font-medium leading-[90px] tracking-[-1.44px];
}

.display-2xl-semibold {
  @apply text-7xl font-semibold leading-[90px] tracking-[-1.44px];
}

.display-2xl-bold {
  @apply text-7xl font-bold leading-[90px] tracking-[-1.44px];
}

/* Display XL */
.display-xl-regular {
  @apply text-6xl font-normal leading-[72px] tracking-[-1.2px];
}

.display-xl-medium {
  @apply text-6xl font-medium leading-[72px] tracking-[-1.2px];
}

.display-xl-semibold {
  @apply text-6xl font-semibold leading-[72px] tracking-[-1.2px];
}

.display-xl-bold {
  @apply text-6xl font-bold leading-[72px] tracking-[-1.2px];
}

/* Display LG */
.display-lg-regular {
  @apply text-5xl font-normal leading-[60px] tracking-[-0.96px];
}

.display-lg-medium {
  @apply text-5xl font-medium leading-[60px] tracking-[-0.96px];
}

.display-lg-semibold {
  @apply text-5xl font-semibold leading-[60px] tracking-[-0.96px];
}

.display-lg-bold {
  @apply text-5xl font-bold leading-[60px] tracking-[-0.96px];
}

/* Display MD */
.display-md-regular {
  @apply text-4xl font-normal leading-[44px] tracking-[-0.72px];
}

.display-md-medium {
  @apply text-4xl font-medium leading-[44px] tracking-[-0.72px];
}

.display-md-semibold {
  @apply text-4xl font-semibold leading-[44px] tracking-[-0.72px];
}

.display-md-bold {
  @apply text-4xl font-bold leading-[44px] tracking-[-0.72px];
}

/* Display SM */
.display-sm-regular {
  @apply text-3xl font-normal leading-[38px];
}

.display-sm-medium {
  @apply text-3xl font-medium leading-[38px];
}

.display-sm-semibold {
  @apply text-3xl font-semibold leading-[38px];
}

.display-sm-bold {
  @apply text-3xl font-bold leading-[38px];
}

/* Display XS */
.display-xs-regular {
  @apply text-2xl font-normal leading-8;
}

.display-xs-medium {
  @apply text-2xl font-medium leading-8;
}

.display-xs-semibold {
  @apply text-2xl font-semibold leading-8;
}

.display-xs-bold {
  @apply text-2xl font-bold leading-8;
}

/* Text XL */
.text-xl-regular {
  @apply text-xl font-normal leading-[30px];
}

.text-xl-medium {
  @apply text-xl font-medium leading-[30px];
}

.text-xl-semibold {
  @apply text-xl font-semibold leading-[30px];
}

.text-xl-bold {
  @apply text-xl font-bold leading-[30px];
}

/* Text LG */
.text-lg-regular {
  @apply text-lg font-normal leading-7;
}

.text-lg-medium {
  @apply text-lg font-medium leading-7;
}

.text-lg-semibold {
  @apply text-lg font-semibold leading-7;
}

.text-lg-bold {
  @apply text-lg font-bold leading-7;
}

/* Text MD */
.text-md-regular {
  @apply text-base font-normal leading-6;
}

.text-md-medium {
  @apply text-base font-medium leading-6;
}

.text-md-semibold {
  @apply text-base font-semibold leading-6;
}

.text-md-bold {
  @apply text-base font-bold leading-6;
}

/* Text SM */
.text-sm-regular {
  @apply text-sm font-normal leading-5;
}

.text-sm-medium {
  @apply text-sm font-medium leading-5;
}

.text-sm-semibold {
  @apply text-sm font-semibold leading-5;
}

.text-sm-bold {
  @apply text-sm font-bold leading-5;
}

/* Text SM */
.text-xs-regular {
  @apply text-xs font-normal leading-[18px];
}

.text-xs-medium {
  @apply text-xs font-medium leading-[18px];
}

.text-xs-semibold {
  @apply text-xs font-semibold leading-[18px];
}

.text-xs-bold {
  @apply text-xs font-bold leading-[18px];
}
